/dts-v1/;

#include <dt-bindings/reset/nuclei-reset.h>

#ifndef TIMERCLK_FREQ
#define TIMERCLK_FREQ       20000000
#endif

#ifndef CPUCLK_FREQ
#define CPUCLK_FREQ         400000000
#endif
#ifndef PERIPHCLK_FREQ
#define PERIPHCLK_FREQ      200000000
#endif

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "nuclei,evalsoc";
  model = "nuclei,evalsoc";
  dma-noncoherent;
  chosen {
      bootargs = "earlycon=sbi console=ttyNUC0";
      stdout-path = "serial0";
  };

  aliases {
    serial0 = &uart0;
  };

  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <TIMERCLK_FREQ>;
    cpu0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";

      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu1: cpu@1 {
      device_type = "cpu";
      reg = <1>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu1_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu2: cpu@2 {
      device_type = "cpu";
      reg = <2>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu2_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu3: cpu@3 {
      device_type = "cpu";
      reg = <3>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu3_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu4: cpu@4 {
      device_type = "cpu";
      reg = <4>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu4_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu5: cpu@5 {
      device_type = "cpu";
      reg = <5>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu5_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu6: cpu@6 {
      device_type = "cpu";
      reg = <6>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu6_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu7: cpu@7 {
      device_type = "cpu";
      reg = <7>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdcv_zicbom_svpbmt";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu7_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };

  memory@0 {
    device_type = "memory";
    reg = <0x0 0x00000000 0x0 0x3E000000>;
  };

  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "nuclei,evalsoc", "simple-bus";
    ranges;
  };

  /* Used for Uboot SBI Console */
  console {
    compatible = "sbi,console";
  };

  uart0_clk: uart0_clk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <200000000>;
  };

  spi0_clk: spi0_clk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <200000000>;
  };

  spi2_clk: spi2_clk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <200000000>;
  };

  sdio0_data_clk: sdio0_data_clk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <100000000>;
  };

  rtc0_clk: rtc0_clk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <20000000>;
  };

  rst: rstmgr@f8b300000 {
    #reset-cells = <1>;
    compatible = "nuclei,rst-mgr";
    reg = <0xf 0x8b300000 0x0 0x40>;
  };

  plic0: interrupt-controller@f84000000 {
    #interrupt-cells = <1>;
    compatible = "riscv,plic0";
    interrupt-controller;
    riscv,ndev = <31>;
    interrupts-extended =
          <&cpu0_intc 11 &cpu0_intc 9
           &cpu1_intc 11 &cpu1_intc 9
           &cpu2_intc 11 &cpu2_intc 9
           &cpu3_intc 11 &cpu3_intc 9
           &cpu4_intc 11 &cpu4_intc 9
           &cpu5_intc 11 &cpu5_intc 9
           &cpu6_intc 11 &cpu6_intc 9
           &cpu7_intc 11 &cpu7_intc 9>;
    reg = <0xf 0x84000000 0x0 0x4000000>;
  };

  clint0: clint@f80031000 {
    #interrupt-cells = <1>;
    compatible = "riscv,clint0";
    reg = <0xf 0x80031000 0x0 0xC000>;
    interrupts-extended =
          <&cpu0_intc 3 &cpu0_intc 7
           &cpu1_intc 3 &cpu1_intc 7
           &cpu2_intc 3 &cpu2_intc 7
           &cpu3_intc 3 &cpu3_intc 7
           &cpu4_intc 3 &cpu4_intc 7
           &cpu5_intc 3 &cpu5_intc 7
           &cpu6_intc 3 &cpu6_intc 7
           &cpu7_intc 3 &cpu7_intc 7>;
    clocks = <&rtc0_clk>;
  };

  uart0: serial@f8b110000 {
    compatible = "nuclei,uart0";
    reg = <0xf 0x8b110000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <3>;
    clocks = <&uart0_clk>;
    clock-frequency = <PERIPHCLK_FREQ>;
    status = "okay";
  };

  qspi0: spi@f8b120000 {
    compatible = "nuclei,spi0";
    reg = <0xf 0x8b120000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <4>;
    num-cs = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    clocks = <&spi0_clk>;
    status = "okay";

    flash@0 {
      compatible = "jedec,spi-nor";
      reg = <0>;
      spi-max-frequency = <1000000>;
      m25p,fast-read;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <1>;
    };
  };

  qspi2: spi@f8b122000 {
    compatible = "nuclei,spi0";
    reg = <0xf 0x8b122000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <6>;
    num-cs = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    clocks = <&spi2_clk>;
    clock-frequency = <PERIPHCLK_FREQ>;
    status = "disabled";

    mmc@0 {
      compatible = "mmc-spi-slot";
      reg = <0>;
      spi-max-frequency = <20000000>;
      voltage-ranges = <3300 3300>;
      disable-wp;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <1>;
    };
  };

  mmc@f8b140000 {
    compatible = "nuclei,mmc";
    reg = <0xf 0x8b140000 0x0 0x2000>;
    interrupt-parent = <&plic0>;
    interrupts = <9>;
    clocks = <&sdio0_data_clk>;
    clock-names = "sdio_data_clk";
    resets = <&rst NUCLEI_RESET_CTRL0(SDIO0)>;
    max-frequency = <50000000>;
    bus-width = <4>;
    no-sdio;
    no-mmc;
    non-removable;
    /*broken-cd;*/
    cap-sd-highspeed;
    status = "okay";
  };
};
