[submodule "linux"]
    path = linux
    url = ../linux.git

[submodule "buildroot"]
    path = buildroot
    url = ../buildroot.git

[submodule "opensbi"]
    path = opensbi
    url = ../opensbi.git

[submodule "freeloader"]
	path = freeloader
	url = ../freeloader.git

[submodule "u-boot"]
	path = u-boot
	url = ../u-boot.git

[submodule "optee/optee_os"]
	path = optee/optee_os
	url = ../optee_os.git

[submodule "optee/optee_client"]
	path = optee/optee_client
	url = ../optee_client.git

[submodule "optee/optee_test"]
	path = optee/optee_test
	url = ../optee_test.git

[submodule "optee/optee_examples"]
	path = optee/optee_examples
	url = ../optee_examples.git
