[submodule "linux"]
    path = linux
    url = ../linux.git

[submodule "buildroot"]
    path = buildroot
    url = ../buildroot.git

[submodule "opensbi"]
    path = opensbi
    url = ../opensbi.git

[submodule "freeloader"]
	path = freeloader
	url = ../freeloader.git

[submodule "u-boot"]
	path = u-boot
	url = ../u-boot.git
[submodule "penglai-sdk"]
	path = penglai-sdk
	url = ../penglai-sdk.git
