/dts-v1/;

#include "nuclei-t0-pinfunc.h"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/nuclei-clock.h>
#include <dt-bindings/reset/nuclei-reset.h>

#define TIMERCLK_FREQ      1000000
#define CPUCLK_FREQ        400000000

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "nuclei,p0soc";
  model = "nuclei,p0soc";
  dma-noncoherent;
  chosen {
      bootargs = "earlycon=sbi console=ttyNUC0 clk_ignore_unused";
      stdout-path = "serial0";
  };

  aliases {
    serial0 = &uart0;
  };

  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <TIMERCLK_FREQ>;
    cpu0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc_zicbom_svpbmt_sstc_sscofpmf";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu1: cpu@1 {
      device_type = "cpu";
      reg = <1>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc_zicbom_svpbmt_sstc_sscofpmf";
      riscv,cbom-block-size =<64>;
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu1_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };

  memory@0 {
    device_type = "memory";
    reg = <0x0 0x0 0x0 0x80000000>;
  };

  reserved-memory {
    #address-cells = <2>;
    #size-cells = <2>;
    ranges;

    xec0_buf_memory: region@7E000000 {
        no-map;
        reg = <0x0 0x7E000000 0x0 0x38000>;
    };

    xec1_buf_memory: region@7E038000 {
        no-map;
        reg = <0x0 0x7E038000 0x0 0x38000>;
    };

    xec0_desc_memory: region@7E070000 {
        no-map;
        reg = <0x0 0x7E070000 0x0 0x8000>;
    };

    xec1_desc_memory: region@7E078000 {
        no-map;
        reg = <0x0 0x7E078000 0x0 0x8000>;
    };

    rtos_memory: region@7E080000 {
        no-map;
        reg = <0x0 0x7E080000 0x0 0x80000>;
    };

    rpmsg_reserved: rpmsg@7E100000 {
        no-map;
        reg = <0x0 0x7E100000 0x0 0x10000>;
    };

    rpmsg_dma_reserved:rpmsg_dma@7E110000 {
        compatible = "shared-dma-pool";
        no-map;
        reg = <0 0x7E110000 0 0xF0000>;
    };
  };

  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "nuclei,p0soc", "simple-bus";
    ranges;
  };

  /* Used for Uboot SBI Console */
  console {
    compatible = "sbi,console";
  };

  clocks {
    clk_in1: clk_in1 {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <0>;
    };

    clk_in2: clk_in2 {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <0>;
    };

    clk_in3: clk_in3 {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <0>;
    };

    clk_in4: clk_in4 {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <0>;
    };

    hsi: hsi {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <16000000>;
    };

    hse: hse {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <20000000>;
    };
    /* sys_pll set by N300 */
    sys_pll: sys_pll {
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <400000000>;
    };
    /* sys_pll_div2 set by N300 */
    sys_pll_div2: sys_pll_div2 {
      compatible = "fixed-clock";
      #clock-cells = <0>;
      clock-frequency = <200000000>;
    };
    /* sys_intf_clk set by N300 */
    sys_intf_clk: sys_intf_clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <200000000>;
    };
    /* sys_clk set by N300 */
    sys_clk: sys_clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <200000000>;
    };
  };

  ccu: clock-controller@f9c880000 {
    compatible = "nuclei,ccu";
    reg = <0xf 0x9c880000 0x0 0x1000>,/* sys_misc */
          <0xf 0x9cdb0000 0x0 0x1000>,/* xec_misc */
          <0xf 0x9c890000 0x0 0x1000>;/* usb_misc */
    #clock-cells = <1>;
    #reset-cells = <1>;
    clock-names = "hsi", "hse", "clk_in1", "clk_in2",
                "clk_in3", "clk_in4";
    clocks = <&hsi>, <&hse>, <&clk_in1>, <&clk_in2>,
                <&clk_in3>, <&clk_in4>;

    //assigned-clocks = <&ccu CLK_MUX_XEC_SYS>, <&ccu CLK_MUX_XEC_RMII>;
    //assigned-clock-parents = <&ccu CLK_CORE1_PLL>, <&ccu CLK_CORE1_PLL>;
    //core1-pll = <1 25 125 1>;   /* mux=1(xtal), N=25, M=125, OD=1 */
    //xuc-pll   = <1 20 100 1>;   /* mux=1(xtal), N=20, M=100, OD=1 */
  };

  pmu {
    compatible = "riscv,pmu";
    /* https://perf.wiki.kernel.org/index.php/Tutorial#Events */
    /* eg. perf stat -B coremark */
    /* eg. perf stat -e cycles -e instructions -e cache-misses -e branches -e branch-misses coremark */
    /* eg. perf stat -e cycles -e instructions -e L1-icache-load-misses -e L1-dcache-load-misses -e iTLB-load-misses -e dTLB-load-misses coremark */
    /* Note: in the dts comment, v2 means your Nuclei RISC-V CPU need to support HPM_VER = Version 2 */
    riscv,event-to-mhpmevent =
      /* Type #0 SBI_PMU_HW_CPU_CYCLES               -> Nuclei event sel=0 idx=1  Cycle count */
      <0x00001 0x00000000 0x00000010>,
      /* Type #0 SBI_PMU_HW_INSTRUCTIONS             -> Nuclei event sel=0 idx=2  Retired instruction count */
      <0x00002 0x00000000 0x00000020>,
      /* Type #0 SBI_PMU_HW_CACHE_REFERENCES         -> v2, Nuclei event sel=1 idx=8  L2-Cache access count */
      <0x00003 0x00000000 0x00000081>,
      /* Type #0 SBI_PMU_HW_CACHE_MISSES             -> v2, Nuclei event sel=1 idx=9  L2-Cache miss count */
      <0x00004 0x00000000 0x00000091>,
      /* Type #0 SBI_PMU_HW_BRANCH_INSTRUCTIONS      -> v2, Nuclei event sel=2 idx=2  Branch instruction commit count */
      <0x00005 0x00000000 0x00000022>,
      /* Type #0 SBI_PMU_HW_BRANCH_MISSES            -> v2, Nuclei event sel=2 idx=3  Branch predict fail count */
      <0x00006 0x00000000 0x00000032>,
      /* Type #0 SBI_PMU_HW_BUS_CYCLES               -> v2, Nuclei event sel=1 idx=10 Memory bus request count */
      <0x00007 0x00000000 0x000000A1>,
      /* Type #0 SBI_PMU_HW_STALLED_CYCLES_FRONTEND  -> v2, Nuclei event sel=1 idx=11 IFU stall cycle count */
      <0x00008 0x00000000 0x000000B1>,
      /* Type #0 SBI_PMU_HW_STALLED_CYCLES_BACKEND   -> v2, Nuclei event sel=1 idx=12 EXU stall cycle count */
      <0x00009 0x00000000 0x000000C1>,
      /* Type #0 SBI_PMU_HW_REF_CPU_CYCLES           -> v2, Nuclei event sel=1 idx=13 Timer count */
      <0x0000A 0x00000000 0x000000D1>,
      /* Type #1 SBI_PMU_HW_CACHE_L1D(0) READ(0) ACCESS(0)     -> v2, Nuclei event sel=3 idx=0 Dcache read count */
      <0x10000 0x00000000 0x00000003>,
      /* Type #1 SBI_PMU_HW_CACHE_L1D(0) READ(0) MISS(1)       -> v2, Nuclei event sel=3 idx=1 Dcache read miss count */
      <0x10001 0x00000000 0x00000013>,
      /* Type #1 SBI_PMU_HW_CACHE_L1D(0) WRITE(1) ACCESS(0)    -> v2, Nuclei event sel=3 idx=2 Dcache write count */
      <0x10002 0x00000000 0x00000023>,
      /* Type #1 SBI_PMU_HW_CACHE_L1D(0) WRITE(1) MISS(1)      -> v2, Nuclei event sel=3 idx=3 Dcache write miss count */
      <0x10003 0x00000000 0x00000033>,
      /* Type #1 SBI_PMU_HW_CACHE_L1D(0) PREFETCH(2) ACCESS(0) -> v2, Nuclei event sel=3 idx=4 Dcache prefetch count */
      <0x10004 0x00000000 0x00000043>,
      /* Type #1 SBI_PMU_HW_CACHE_L1D(0) PREFETCH(2) MISS(1)   -> v2, Nuclei event sel=3 idx=5 Dcache prefetch miss count */
      <0x10005 0x00000000 0x00000053>,
      /* Type #1 SBI_PMU_HW_CACHE_L1I(1) READ(0) ACCESS(0)     -> v2, Nuclei event sel=3 idx=6 Icache read count */
      <0x10008 0x00000000 0x00000063>,
      /* Type #1 SBI_PMU_HW_CACHE_L1I(1) READ(0) MISS(1)       -> v1, Nuclei event sel=1 idx=1 Icache read miss count */
      <0x10009 0x00000000 0x00000011>,
      /* Type #1 SBI_PMU_HW_CACHE_L1I(1) PREFETCH(2) ACCESS(0) -> v2, Nuclei event sel=3 idx=8 Icache prefetch count */
      <0x1000C 0x00000000 0x00000083>,
      /* Type #1 SBI_PMU_HW_CACHE_L1I(1) PREFETCH(2) MISS(1)   -> v2, Nuclei event sel=3 idx=9 Icache prefetch miss count */
      <0x1000D 0x00000000 0x00000093>,
      /* Type #1 SBI_PMU_HW_CACHE_LL(2) READ(0) ACCESS(0)      -> v2, Nuclei event sel=3 idx=10 L2 Cache read count */
      <0x10010 0x00000000 0x000000A3>,
      /* Type #1 SBI_PMU_HW_CACHE_LL(2) READ(0) MISS(1)        -> v2, Nuclei event sel=3 idx=11 L2 Cache read miss count */
      <0x10011 0x00000000 0x000000B3>,
      /* Type #1 SBI_PMU_HW_CACHE_LL(2) WRITE(1) ACCESS(0)     -> v2, Nuclei event sel=3 idx=12 L2 Cache write count */
      <0x10012 0x00000000 0x000000C3>,
      /* Type #1 SBI_PMU_HW_CACHE_LL(2) WRITE(1) MISS(1)       -> v2, Nuclei event sel=3 idx=13 L2 Cache write miss count */
      <0x10013 0x00000000 0x000000D3>,
      /* Type #1 SBI_PMU_HW_CACHE_LL(2) PREFETCH(2) ACCESS(0)  -> v2, Nuclei event sel=3 idx=14 L2 Cache prefetch count */
      <0x10014 0x00000000 0x000000E3>,
      /* Type #1 SBI_PMU_HW_CACHE_LL(2) PREFETCH(2) MISS(1)    -> v2, Nuclei event sel=3 idx=15 L2 Cache prefetch miss count */
      <0x10015 0x00000000 0x000000F3>,
      /* Type #1 SBI_PMU_HW_CACHE_DTLB(3) READ(0) ACCESS(0)     -> v2, Nuclei event sel=3 idx=16 DTLB read count */
      <0x10018 0x00000000 0x00000103>,
      /* Type #1 SBI_PMU_HW_CACHE_DTLB(3) READ(0) MISS(1)       -> v2, Nuclei event sel=3 idx=17 DTLB read miss count */
      <0x10019 0x00000000 0x00000113>,
      /* Type #1 SBI_PMU_HW_CACHE_DTLB(3) WRITE(1) ACCESS(0)    -> v2, Nuclei event sel=3 idx=18 DTLB write count */
      <0x1001A 0x00000000 0x00000123>,
      /* Type #1 SBI_PMU_HW_CACHE_DTLB(3) WRITE(1) MISS(1)      -> v2, Nuclei event sel=3 idx=19 DTLB write miss count */
      <0x1001B 0x00000000 0x00000133>,
      /* Type #1 SBI_PMU_HW_CACHE_ITLB(4) READ(0) ACCESS(0)     -> v2, Nuclei event sel=3 idx=20 ITLB read count */
      <0x10020 0x00000000 0x00000143>,
      /* Type #1 SBI_PMU_HW_CACHE_ITLB(4) READ(0) MISS(1)       -> v1, Nuclei event sel=1 idx=3 ITLB read miss count */
      <0x10021 0x00000000 0x00000031>,
      /* Type #1 SBI_PMU_HW_CACHE_BTB(5) READ(0) ACCESS(0)      -> v2, Nuclei event sel=3 idx=22 BTB read count */
      <0x10028 0x00000000 0x00000163>,
      /* Type #1 SBI_PMU_HW_CACHE_BTB(5) READ(0) MISS(1)        -> v2, Nuclei event sel=3 idx=23 BTB read miss count */
      <0x10029 0x00000000 0x00000173>,
      /* Type #1 SBI_PMU_HW_CACHE_BTB(5) WRITE(1) ACCESS(0)     -> v2, Nuclei event sel=3 idx=24 BTB write count */
      <0x1002A 0x00000000 0x00000183>,
      /* Type #1 SBI_PMU_HW_CACHE_BTB(5) WRITE(1) MISS(1)       -> v2, Nuclei event sel=3 idx=25 BTB write miss count */
      <0x1002B 0x00000000 0x00000193>,
      /* Type #1 SBI_PMU_HW_CACHE_NODE(6) READ(0) ACCESS(0)      -> v2, Nuclei event sel=3 idx=10 L2 Cache read count */
      <0x10030 0x00000000 0x000000A3>,
      /* Type #1 SBI_PMU_HW_CACHE_NODE(6) READ(0) MISS(1)        -> v2, Nuclei event sel=3 idx=11 L2 Cache read miss count */
      <0x10031 0x00000000 0x000000B3>,
      /* Type #1 SBI_PMU_HW_CACHE_NODE(6) WRITE(1) ACCESS(0)     -> v2, Nuclei event sel=3 idx=12 L2 Cache write count */
      <0x10032 0x00000000 0x000000C3>,
      /* Type #1 SBI_PMU_HW_CACHE_NODE(6) WRITE(1) MISS(1)       -> v2, Nuclei event sel=3 idx=13 L2 Cache write miss count */
      <0x10033 0x00000000 0x000000D3>,
      /* Type #1 SBI_PMU_HW_CACHE_NODE(6) PREFETCH(2) ACCESS(0)  -> v2, Nuclei event sel=3 idx=14 L2 Cache prefetch count */
      <0x10034 0x00000000 0x000000E3>,
      /* Type #1 SBI_PMU_HW_CACHE_NODE(6) PREFETCH(2) MISS(1)    -> v2, Nuclei event sel=3 idx=15 L2 Cache prefetch miss count */
      <0x10035 0x00000000 0x000000F3>;
    /* make hpm3-6 counter available for all hardware events */
    riscv,event-to-mhpmcounters =
      <0x00001 0x0000000A 0x00000078>,
      <0x10000 0x00010035 0x00000078>;
    /* Raw event: eg. perf stat -e cycles -e instructions -e r00000190 -e r00000010 coremark */
    riscv,raw-event-to-mhpmcounters =
      /*  Event Types 0 events - 0x1 Cycle count */
      <0x00000000 0x00000010 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x2 Retired instruction count */
      <0x00000000 0x00000020 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x3 Integer load instruction (includes LR) */
      <0x00000000 0x00000030 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x4 Integer store instruction (includes SC) */
      <0x00000000 0x00000040 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x5 Atomic memory operation (do not include LR and SC) */
      <0x00000000 0x00000050 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x6 System instruction */
      <0x00000000 0x00000060 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x7 Integer computational instruction(excluding multiplication/division/remainder) */
      <0x00000000 0x00000070 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x8 Conditional branch */
      <0x00000000 0x00000080 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x9 Taken conditional branch */
      <0x00000000 0x00000090 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0xa JAL instruction */
      <0x00000000 0x000000a0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0xb JALR instruction */
      <0x00000000 0x000000b0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0xc Return instruction */
      <0x00000000 0x000000c0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0xd Control transfer instruction (CBR+JAL+JALR) */
      <0x00000000 0x000000d0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0xe fence instruction(Not include fence.i) */
      <0x00000000 0x000000e0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0xf Integer multiplication instruction */
      <0x00000000 0x000000f0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x10 Integer division/remainder instruction */
      <0x00000000 0x00000100 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x11 Floating-point load instruction */
      <0x00000000 0x00000110 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x12 Floating-point store instruction */
      <0x00000000 0x00000120 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x13 Floating-point addition/subtraction */
      <0x00000000 0x00000130 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x14 Floating-point multiplication */
      <0x00000000 0x00000140 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x15 Floating-point fused multiply-add (FMADD, FMSUB,FNMSUB, FNMADD) */
      <0x00000000 0x00000150 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x16 Floating-point division or square-root */
      <0x00000000 0x00000160 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x17 Other floating-point instruction */
      <0x00000000 0x00000170 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x18 Conditional branch(BXX) prediction fail */
      <0x00000000 0x00000180 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x19 JALR prediction fail */
      <0x00000000 0x00000190 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x1a POP prediction fail */
      <0x00000000 0x000001a0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x1b FENCEI instruction */
      <0x00000000 0x000001b0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x1c SFENCE instruction */
      <0x00000000 0x000001c0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x1d ECALL instruction */
      <0x00000000 0x000001d0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x1e EXCEPTION instruction */
      <0x00000000 0x000001e0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 0 events - 0x1f INTERRUPT instruction */
      <0x00000000 0x000001f0 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x1 Icache read miss count */
      <0x00000000 0x00000011 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x2 Dcache read/write miss count */
      <0x00000000 0x00000021 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x3 ITLB read miss count */
      <0x00000000 0x00000031 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x4 DTLB read/write miss count */
      <0x00000000 0x00000041 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x5 Main TLB miss count */
      <0x00000000 0x00000051 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x6 Reserved */
      <0x00000000 0x00000061 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x7 Reserved */
      <0x00000000 0x00000071 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x8 L2-Cache access count */
      <0x00000000 0x00000081 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0x9 L2-Cache miss count */
      <0x00000000 0x00000091 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0xa Memory bus request count */
      <0x00000000 0x000000a1 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0xb IFU stall cycle count */
      <0x00000000 0x000000b1 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0xc EXU stall cycle count */
      <0x00000000 0x000000c1 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 1 events - 0xd Timer count */
      <0x00000000 0x000000d1 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 2 events - 0x1 VPU store instruction commit count */
      <0x00000000 0x00000012 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 2 events - 0x2 Reserved */
      <0x00000000 0x00000022 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 2 events - 0x3 VPU load instruction commit count */
      <0x00000000 0x00000032 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 2 events - 0x4 VPU computational instruction commit count */
      <0x00000000 0x00000042 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 2 events - 0x5 Branch predict fail count */
      <0x00000000 0x00000052 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x1 Icache read count */
      <0x00000000 0x00000013 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x2 L2-Cache read hit count */
      <0x00000000 0x00000023 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x3 DTLB write count */
      <0x00000000 0x00000033 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x4 L2-Cache write miss count */
      <0x00000000 0x00000043 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x5 Reserved */
      <0x00000000 0x00000053 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x6 Icache prefetch miss count */
      <0x00000000 0x00000063 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x7 BTB write count */
      <0x00000000 0x00000073 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x8 L2-Cache read miss count */
      <0x00000000 0x00000083 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x9 DTLB write miss count */
      <0x00000000 0x00000093 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0xa ITLB read count */
      <0x00000000 0x000000a3 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0xb BTB read count */
      <0x00000000 0x000000b3 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0xc Dcache prefetch count */
      <0x00000000 0x000000c3 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0xd Icache prefetch count */
      <0x00000000 0x000000d3 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0xe Dcache write count */
      <0x00000000 0x000000e3 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0xf DTLB read count */
      <0x00000000 0x000000f3 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x10 Dcache write miss count */
      <0x00000000 0x00000103 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x11 BTB write miss count */
      <0x00000000 0x00000113 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x12 Dcache read count */
      <0x00000000 0x00000123 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x13 L2-Cache write hit count */
      <0x00000000 0x00000133 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x14 L2-Cache prefetch miss count */
      <0x00000000 0x00000143 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x15 BTB read miss count */
      <0x00000000 0x00000153 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x16 Dcache read miss count */
      <0x00000000 0x00000163 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x17 L2-Cache prefetch hit count */
      <0x00000000 0x00000173 0xffffffff 0xffffffff 0x00000078>,
      /*  Event Types 3 events - 0x18 DTLB read miss count */
      <0x00000000 0x00000183 0xffffffff 0xffffffff 0x00000078>;
  };

  plic0: interrupt-controller@f94000000 {
    #interrupt-cells = <1>;
    compatible = "riscv,plic0";
    interrupt-controller;
    riscv,ndev = <127>;
    interrupts-extended =
          <&cpu0_intc 11 &cpu0_intc 9
           &cpu1_intc 11 &cpu1_intc 9>;
    reg = <0xf 0x94000000 0x0 0x4000000>;
  };

  clint0: clint@f90031000 {
    #interrupt-cells = <1>;
    compatible = "riscv,clint0";
    reg = <0xf 0x90031000 0x0 0x10000>;
    interrupts-extended =
          <&cpu0_intc 3 &cpu0_intc 7
           &cpu1_intc 3 &cpu1_intc 7>;
  };

  iomuxc:iomuxc@f9ca00000 {
    compatible = "nuclei,iomuxc";
    reg = <0xf 0x9ca00000 0x0 0x100000>;
    clocks = <&ccu CLK_IOMUX>;
    clock-names = "apb";
    pinctrl_uart0: uart0grp {
        nuclei,pins = <
            PAD_LS(19, 0, USART0_RX)
            PAD_LS(20, 0, USART0_TX)
        >;
    };

    pinctrl_i2c0: i2c0grp {
        nuclei,pins = <
            PAD_LS(36, 1, I2C0_SCL)
            PAD_LS(37, 1, I2C0_SDA)
        >;
        bias-pull-up;
    };

    pinctrl_spi0: spi0grp {
        nuclei,pins = <
            PAD0_G0_HS0_QSPI_XIP0_CS_0
            PAD4_G0_HS0_QSPI_XIP0_SCK
            PAD5_G0_HS0_QSPI_XIP0_DQ_0
            PAD1_G0_HS0_QSPI_XIP0_DQ_1
        >;
    };

    pinctrl_sdio0: sdio0grp {
        nuclei,pins = <
            PAD9_G0_HS0_SDIO0_SDCLK
            PAD8_G0_HS0_SDIO0_SDCMD
            PAD7_G0_HS0_SDIO0_SDDATA0
            PAD6_G0_HS0_SDIO0_SDDATA1
            PAD11_G0_HS0_SDIO0_SDDATA2
            PAD10_G0_HS0_SDIO0_SDDATA3
        >;
    };

    pinctrl_xec0: xecgrp {
        nuclei,pins = <
            PAD16_G0_HS0_XEC_GEN20_MDIO
            PAD17_G0_HS0_XEC_GEN20_MDC
            PAD18_G0_HS0_XEC_GEN20_GMII_TXEN
            PAD21_G0_HS0_XEC_GEN20_GMII_TXD3
            PAD22_G1_HS0_XEC_GEN20_GMII_TXD2
            PAD23_G1_HS0_XEC_GEN20_GMII_TXD1
            PAD24_G1_HS0_XEC_GEN20_GMII_TXD0
            PAD25_G1_HS0_XEC_GEN20_XMII_TXC
            PAD26_G1_HS0_XEC_GEN20_GMII_RXC
            PAD27_G1_HS0_XEC_GEN20_GMII_RXD3
            PAD28_G1_HS0_XEC_GEN20_GMII_RXD2
            PAD29_G1_HS0_XEC_GEN20_GMII_RXD1
            PAD30_G1_HS0_XEC_GEN20_GMII_RXD0
            PAD31_G1_HS0_XEC_GEN20_GMII_RXDV
            PAD32_G1_HS0_XEC_GEN20_GMII_RXER
            PAD33_G1_HS0_XEC_GEN20_GMII_COL
            PAD34_G1_HS0_XEC_GEN20_GMII_CRS
            PAD35_G1_HS0_XEC_GEN20_GMII_TXER
        >;
    };

    pinctrl_disp: dispgrp {
        nuclei,pins = <
            PAD64_G3_HS0_DISP0_VS
            PAD65_G3_HS0_DISP0_HS
            PAD66_G3_HS0_DISP0_PIXCLK
            PAD67_G3_HS0_DISP0_DE
            PAD68_G3_HS0_DISP0_RED7
            PAD69_G3_HS0_DISP0_RED6
            PAD70_G3_HS0_DISP0_RED5
            PAD71_G3_HS0_DISP0_RED4
            PAD72_G3_HS0_DISP0_RED3
            PAD73_G3_HS0_DISP0_RED2
            PAD74_G3_HS0_DISP0_RED1
            PAD75_G3_HS0_DISP0_RED0
            PAD76_G3_HS0_DISP0_GREEN7
            PAD77_G3_HS0_DISP0_GREEN6
            PAD78_G3_HS0_DISP0_GREEN5
            PAD79_G3_HS0_DISP0_GREEN4
            PAD80_G3_HS0_DISP0_GREEN3
            PAD81_G3_HS0_DISP0_GREEN2
            PAD82_G3_HS0_DISP0_GREEN1
            PAD83_G3_HS0_DISP0_GREEN0
            PAD84_G3_HS0_DISP0_BLUE7
            PAD85_G4_HS0_DISP0_BLUE6
            PAD86_G4_HS0_DISP0_BLUE5
            PAD87_G4_HS0_DISP0_BLUE4
            PAD88_G4_HS0_DISP0_BLUE3
            PAD89_G4_HS0_DISP0_BLUE2
            PAD90_G4_HS0_DISP0_BLUE1
            PAD91_G4_HS0_DISP0_BLUE0
        >;
    };
  };

  lgpio:lgpio@F9c480000 {
    compatible = "nuclei,gpio";
    reg = <0xf 0x9c480000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <58>;
    gpio-controller;
    #gpio-cells = <2>;
    interrupt-controller;
    #interrupt-cells = <2>;
    /* gpio 0~3, 24~31 can be used */
    gpio-ranges = <&iomuxc 0 12 4>, <&iomuxc 24 127 2>,
                <&iomuxc 26 131 2>, <&iomuxc 28 165 4>;
    /* no used gpio from 4 to 23 */
    gpio-reserved-ranges = <4 20>;
    clocks = <&ccu CLK_LGPIO0>;
    clock-names = "apb";
    assigned-clocks = <&ccu CLK_LGPIO0>;
    assigned-clock-rates = <50000000>;
    status = "okay";
  };

  sys_udma:sys_udma@F9C900000 {
    compatible = "nuclei,dmac";
    #dma-cells = <2>;
    reg = <0xf 0x9C900000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <94>;
    clocks = <&ccu CLK_SYS_UDMA>;
    clock-names = "apb";
    resets = <&ccu RST_SYS_UDMA>;
    /* dma channel for mem2mem */
    dma-memcpy = <8>;
    /* dma channel for pa2mem */
    dma-channels = <0>;
    dma-requests = <8>;
    status = "okay";
  };

  acc_udma0:acc_udma0@f9c910000 {
    compatible = "nuclei,dmac";
    #dma-cells = <2>;
    reg = <0xf 0x9c910000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <110>;
    clocks = <&ccu CLK_ACC_UDMA0>;
    clock-names = "apb";
    resets = <&ccu RST_ACC_UDMA0>;
    dma-ctrl-id = <0>;
    /* dma channel for mem2mem */
    dma-memcpy = <2>;
    /* dma channel for pa2mem */
    dma-channels = <13>;
    dma-requests = <103>;
    status = "okay";
  };

  acc_udma1:acc_udma0@f9c920000 {
    compatible = "nuclei,dmac";
    #dma-cells = <2>;
    reg = <0xf 0x9c920000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <112>;
    clocks = <&ccu CLK_ACC_UDMA1>;
    clock-names = "apb";
    resets = <&ccu RST_ACC_UDMA1>;
    dma-ctrl-id = <1>;
    /* dma channel for mem2mem */
    dma-memcpy = <2>;
    /* dma channel for pa2mem */
    dma-channels = <12>;
    dma-requests = <94>;
    status = "disabled";
  };

  uart0: serial@f9c250000 {
    compatible = "nuclei,uart0";
    reg = <0xf 0x9c250000 0x0 0x1000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart0>;
    clocks = <&ccu CLK_USART0>, <&ccu CLK_USART0_INTF>;
    clock-names = "apb", "kern";
    assigned-clocks = <&ccu CLK_USART0>, <&ccu CLK_USART0_INTF>;
    assigned-clock-rates = <100000000>, <100000000>;
    clock-frequency = <100000000>;
    interrupt-parent = <&plic0>;
    interrupts = <5>;
    status = "okay";
  };

  uart1: serial@f9c251000 {
    compatible = "nuclei,uart0";
    reg = <0xf 0x9c251000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <6>;
    clocks = <&ccu CLK_USART1>, <&ccu CLK_USART1_INTF>;
    clock-names = "apb", "kern";
    status = "disabled";
  };

  i2c0: i2c@f9c280000 {
    compatible = "nuclei,i2c";
    reg = <0xf 0x9c280000 0x0 0x1000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c0>;
    status = "okay";
    clocks = <&ccu CLK_I2C0>, <&ccu CLK_I2C0_INTF>;
    clock-names = "apb", "kern";
    clock-frequency = <400000>;
    resets = <&ccu RST_I2C0>;
    assigned-clocks = <&ccu CLK_I2C0>, <&ccu CLK_I2C0_INTF>;
    assigned-clock-rates = <50000000>, <8000000>;
    dmas = <&acc_udma0 1 16>, <&acc_udma0 1 17>;
    dma-names = "tx", "rx";
    #address-cells = <1>;
    #size-cells = <0>;

    eeprom@50 {
        compatible = "atmel,24c32";
        reg = <0x50>;
        pagesize = <32>;
    };
  };

  qspi0: spi@f9c200000 {
    compatible = "nuclei,spi0";
    reg = <0xf 0x9c200000 0x0 0x1000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi0>;
    interrupt-parent = <&plic0>;
    interrupts = <24>;
    num-cs = <1>;

    dmas = <&acc_udma0 1 20>, <&acc_udma0 1 21>;
    dma-names = "tx", "rx";

    #address-cells = <1>;
    #size-cells = <0>;
    clocks = <&ccu CLK_QSPI_XIP0>, <&ccu CLK_QSPI_XIP0_INTF>;
    clock-names = "apb", "kern";
    resets = <&ccu RST_QSPI_XIP0>;
    status = "disabled";

    flash@0 {
      compatible = "jedec,spi-nor";
      reg = <0>;
      spi-max-frequency = <1000000>;
      m25p,fast-read;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <1>;
    };
  };


  mmc@f99f04000 {
    compatible = "nuclei,mmc";
    reg = <0xf 0x99f04000 0x0 0x1000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_sdio0>;
    interrupt-parent = <&plic0>;
    interrupts = <95>;
    clocks = <&ccu CLK_SDIO0>, <&ccu CLK_SDIO0_INTF>;
    clock-names = "apb", "kern";

    resets = <&ccu RST_SDIO0>;
    max-frequency = <50000000>;
    bus-width = <4>;
    no-sdio;
    no-mmc;
    cd-gpios = <&lgpio 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    cap-sd-highspeed;
    status = "okay";
  };

  eth0: xec@f9c210000 {
    compatible = "nuclei,xec";
    reg = <0xf 0x9c210000 0x0 0x1000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_xec0>;
    interrupt-parent = <&plic0>;
    interrupts = <67>;
    clocks = <&ccu CLK_XEC_GEN20_SYS>, <&ccu CLK_XEC_GEN20_PTP_REF>, <&ccu CLK_XEC_GEN20_RMII_REF>;
    clock-names = "sys", "ptp_ref", "rmii_ref";
    assigned-clocks = <&ccu CLK_XEC_GEN20_SYS>, <&ccu CLK_XEC_GEN20_PTP_REF>, <&ccu CLK_XEC_GEN20_RMII_REF>;
    assigned-clock-rates = <25000000>, <125000000>, <50000000>;
    resets = <&ccu RST_XEC_GEN20>;
    /*local-mac-address = [00 2b 20 21 03 24];*/
    phy-handle = <&rtl8201f>;
    phy-mode = "mii";
    desc_mem = <&xec0_desc_memory>;
    txrx_buf = <&xec0_buf_memory>;
    status = "okay";
    mdio {
        compatible = "snps,dwmac-mdio";
        #address-cells = <1>;
        #size-cells = <0>;

        rtl8201f: ethernet-phy@1 {
            compatible = "ethernet-phy-ieee802.3-c22";
            reg = <1>;
        };
    };
  };

  eth1: xec@f9cdc0000 {
    compatible = "nuclei,xec";
    reg = <0xf 0x9cdc0000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <68>;
    clocks = <&ccu CLK_XEC_GEN20_SYS>, <&ccu CLK_XEC_GEN21_PTP_REF>, <&ccu CLK_XEC_GEN21_RMII_REF>;
    clock-names = "sys", "ptp_ref", "rmii_ref";
    assigned-clocks = <&ccu CLK_XEC_GEN20_SYS>, <&ccu CLK_XEC_GEN21_PTP_REF>, <&ccu CLK_XEC_GEN21_RMII_REF>;
    assigned-clock-rates = <125000000>, <125000000>, <50000000>;
    /*local-mac-address = [00 2b 20 21 03 23];*/
    phy-handle = <&rtl8211f>;
    phy-mode = "gmii";
    desc_mem = <&xec1_desc_memory>;
    txrx_buf = <&xec1_buf_memory>;
    status = "okay";
    mdio {
        compatible = "snps,dwmac-mdio";
        #address-cells = <1>;
        #size-cells = <0>;

        rtl8211f: ethernet-phy@0 {
            compatible = "ethernet-phy-ieee802.3-c22";
            reg = <0>;
        };
    };
  };

  idu: idu@f9c870000 {
    compatible = "nuclei,idu";
    reg = <0xf 0x9c870000 0x0 0x10000>;
    interrupt-parent = <&plic0>;
    interrupts = <1>;
    #mbox-cells = <1>;
    clocks = <&ccu CLK_IDU>;
    clock-names = "apb";
    status = "disabled";
  };

  rpmsg: rpmsg@7e100000{
    compatible = "nuclei,rpmsg";
    mboxes = <&idu 0>;
    reg = <0x0 0x7E100000 0x0 0x10000>;
    memory-region = <&rpmsg_dma_reserved>;
    status = "disabled";
  };

  sysrst@f90030ff0 {
    compatible = "nuclei,sysrst";
    reg = <0xf 0x90030ff0 0x0 0x0>;
  };
};
