/dts-v1/;

#ifndef TIMERCLK_FREQ
#define TIMERCLK_FREQ       32768
#endif
#ifndef CPUCLK_FREQ
#define CPUCLK_FREQ         16000000
#endif
#ifndef PERIPHCLK_FREQ
#define PERIPHCLK_FREQ      CPUCLK_FREQ
#endif

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "nuclei,demo-soc";
  model = "nuclei,demo-soc";

  chosen {
      bootargs = "earlycon=sbi console=ttyNUC0";
      stdout-path = "serial0";
  };

  aliases {
    serial0 = &uart0;
    serial1 = &uart1;
  };

  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <TIMERCLK_FREQ>;
    cpu0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu1: cpu@1 {
      device_type = "cpu";
      reg = <1>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu1_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu2: cpu@2 {
      device_type = "cpu";
      reg = <2>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu2_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu3: cpu@3 {
      device_type = "cpu";
      reg = <3>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu3_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu4: cpu@4 {
      device_type = "cpu";
      reg = <4>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu4_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu5: cpu@5 {
      device_type = "cpu";
      reg = <5>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu5_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu6: cpu@6 {
      device_type = "cpu";
      reg = <6>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu6_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
    cpu7: cpu@7 {
      device_type = "cpu";
      reg = <7>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imafdc";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu7_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };

  memory@A0000000 {
    device_type = "memory";
    reg = <0x0 0xA0000000 0x0 0xE000000>;
  };

  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "nuclei,demo-soc", "simple-bus";
    ranges;
  };

  /* Used for Uboot SBI Console */
  console {
    compatible = "sbi,console";
  };

  hfclk: hfclk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <PERIPHCLK_FREQ>;
    clock-output-names = "hfclk";
  };

  plic0: interrupt-controller@8000000 {
    #interrupt-cells = <1>;
    compatible = "riscv,plic0";
    interrupt-controller;
    riscv,ndev = <53>;
    interrupts-extended =
          <&cpu0_intc 11 &cpu0_intc 9
           &cpu1_intc 11 &cpu1_intc 9
           &cpu2_intc 11 &cpu2_intc 9
           &cpu3_intc 11 &cpu3_intc 9
           &cpu4_intc 11 &cpu4_intc 9
           &cpu5_intc 11 &cpu5_intc 9
           &cpu6_intc 11 &cpu6_intc 9
           &cpu7_intc 11 &cpu7_intc 9>;
    reg = <0x0 0x8000000 0x0 0x4000000>;
  };

  clint0: clint@2001000 {
    #interrupt-cells = <1>;
    compatible = "riscv,clint0";
    reg = <0x0 0x2001000 0x0 0xC000>;
    interrupts-extended =
          <&cpu0_intc 3 &cpu0_intc 7
           &cpu1_intc 3 &cpu1_intc 7
           &cpu2_intc 3 &cpu2_intc 7
           &cpu3_intc 3 &cpu3_intc 7
           &cpu4_intc 3 &cpu4_intc 7
           &cpu5_intc 3 &cpu5_intc 7
           &cpu6_intc 3 &cpu6_intc 7
           &cpu7_intc 3 &cpu7_intc 7>;
    clocks = <&hfclk>;
  };

  uart0: serial@10013000 {
    compatible = "nuclei,uart0";
    reg = <0x0 0x10013000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <33>;
    clocks = <&hfclk>;
    clock-frequency = <PERIPHCLK_FREQ>;
    status = "okay";
  };

  uart1: serial@10023000 {
    compatible = "nuclei,uart0";
    reg = <0x0 0x10023000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <34>;
    clocks = <&hfclk>;
    clock-frequency = <PERIPHCLK_FREQ>;
    status = "disabled";
  };

  qspi0: spi@10014000 {
    compatible = "nuclei,spi0";
    reg = <0x0 0x10014000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <35>;
    num-cs = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    clocks = <&hfclk>;
    status = "okay";

    flash@0 {
      compatible = "jedec,spi-nor";
      reg = <0>;
      spi-max-frequency = <1000000>;
      m25p,fast-read;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <1>;
    };
  };

  qspi2: spi@10034000 {
    compatible = "nuclei,spi0";
    reg = <0x0 0x10034000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <37>;
    num-cs = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    clocks = <&hfclk>;
    status = "okay";

    mmc@0 {
      compatible = "mmc-spi-slot";
      reg = <0>;
      spi-max-frequency = <20000000>;
      voltage-ranges = <3300 3300>;
      disable-wp;
    };
  };

  gpio: gpio@10012000 {
    compatible = "nuclei,gpio0";
    interrupt-parent = <&plic0>;
    interrupts = <1>, <2>, <3>, <4>, <5>, <6>,
            <7>, <8>, <9>, <10>, <11>, <12>, <13>,
            <14>, <15>, <16>, <17>, <18>, <19>, <20>,
            <21>, <22>, <23>, <24>, <25>, <26>, <27>,
            <28>, <29>, <30>, <31>, <32>;
    reg = <0x0 0x10012000 0x0 0x1000>;
    gpio-controller;
    #gpio-cells = <2>;
    interrupt-controller;
    #interrupt-cells = <2>;
    clocks = <&hfclk>;
    status = "disabled";
  };
};
