adapter speed     1000

adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi oscan1_mode off

## If ftdi_device_desc not specified, the device description is ignored during device selection.
## So if you want to specify a dedicated FTDI device, you can select following device description:
## "Dual RS232-HS" is for HummingBird Debugger V1
## "USB <-> JTAG-DEBUGGER" is for HummingBird Debugger V2
## Uncomment one which match your device description
# ftdi_device_desc "Dual RS232-HS"
# ftdi_device_desc "USB <-> JTAG-DEBUGGER"

transport select jtag

ftdi layout_init 0x0008 0x001b
ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi layout_signal TCK -data 0x0001
ftdi layout_signal TDI -data 0x0002
ftdi layout_signal TDO -input 0x0004
ftdi layout_signal TMS -data 0x0008
ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100

set _CHIPNAME1 riscv1

jtag newtap $_CHIPNAME1 cpu -irlen 5 -ignore-bypass

set _CHIPNAME0 riscv0

jtag newtap $_CHIPNAME0 cpu -irlen 5 -expected-id 0x10900a6d

set _TARGETNAME0 $_CHIPNAME0.cpu
 
target create $_TARGETNAME0 riscv -chain-position $_TARGETNAME0 -coreid 0 

$_TARGETNAME0 configure -work-area-phys 0xf88000000 -work-area-size 10000 -work-area-backup 1

set _FLASHNAME0 $_CHIPNAME0.flash
flash bank $_FLASHNAME0 nuspi 0xfa0000000 0 0 0 $_TARGETNAME0 0xf8b120000
#jtag newtap $_CHIPNAME1 cpu -irlen 5 -expected-id 0x12030a6d

# Set the ILM space also as flash, to make sure it can be add breakpoint with hardware trigger
#flash bank onboard_ilm nuspi 0x80000000 0 0 0 $_TARGETNAME

# Expose Nuclei self-defined CSRS range 770-800,835-850,1984-2032,2064-2070
# See https:
# Then user can view the csr register value in gdb using: info reg csr775 for CSR MTVT(0x307)
#riscv expose_csrs 770-800,835-850,1984-2032,2064-2070

init
#reset
if {[ info exists pulse_srst]} {
  ftdi_set_signal nSRST 0
  ftdi_set_signal nSRST z
}

foreach t [target names] {
  targets $t
  halt
}
# We must turn on this because otherwise the IDE version debug cannot download the program into flash
flash protect 0 0 last off