/dts-v1/;

#ifndef TIMERCLK_FREQ
#define TIMERCLK_FREQ       48828
#endif
#ifndef CPUCLK_FREQ
#define CPUCLK_FREQ         400000000
#endif
#ifndef PERIPHCLK_FREQ
#define PERIPHCLK_FREQ      200000000
#endif

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "fsl,fsl91030m";
  model = "fsl,fsl91030m";

  chosen {
      bootargs = "earlycon=sbi console=ttyNUC0";
      stdout-path = "serial0";
  };

  aliases {
    serial0 = &uart0;
    serial1 = &uart1;
  };

  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <TIMERCLK_FREQ>;
    cpu0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv64imac";
      mmu-type = "riscv,sv39";
      clock-frequency = <CPUCLK_FREQ>;
      cpu0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    }; 
  };

  memory@41000000 {
    device_type = "memory";
    reg = <0x0 0x41000000 0x0 0x0f000000>;
  };

  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "nuclei,fsl91030m", "simple-bus";
    ranges;
  };

  /* Used for Uboot SBI Console */
  console {
    compatible = "sbi,console";
  };

  hfclk: hfclk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <200000000>;
    clock-output-names = "hfclk";
  };

  hfclk2: hfclk2 {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <100000000>;
    clock-output-names = "hfclk2";
  };

  plic0: interrupt-controller@8000000 {
    #interrupt-cells = <1>;
    compatible = "riscv,plic0";
    interrupt-controller;
    riscv,ndev = <53>;
    interrupts-extended =
          <&cpu0_intc 11 &cpu0_intc 9>;
    reg = <0x0 0x8000000 0x0 0x4000000>;
  };

  clint0: clint@2001000 {
    #interrupt-cells = <1>;
    compatible = "riscv,clint0";
    reg = <0x0 0x2001000 0x0 0xC000>;
    interrupts-extended =
          <&cpu0_intc 3 &cpu0_intc 7>;
    clocks = <&hfclk>;
  };

  uart0: serial@10013000 {
    compatible = "nuclei,uart0";
    reg = <0x0 0x10013000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <2>;
    clocks = <&hfclk2>;
    clock-frequency = <100000000>;
    status = "okay";
  };

  uart1: serial@10012000 {
    compatible = "nuclei,uart0";
    reg = <0x0 0x10012000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <3>;
    clocks = <&hfclk2>;
    clock-frequency = <PERIPHCLK_FREQ>;
    status = "disabled";
  };

  qspi0: spi@10014000 {
    compatible = "nuclei,spi0";
    reg = <0x0 0x10014000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <5>;
    clocks = <&hfclk2>;
    num-cs = <2>;
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    flash@1 {
      compatible = "jedec,spi-nor";
      reg = <1>;
      spi-max-frequency = <100000000>;
      m25p,fast-read;
      spi-tx-bus-width = <1>;
      spi-rx-bus-width = <1>;
    };
  };

  qspi1: spi@10016000 {
    compatible = "nuclei,spi0";
    reg = <0x0 0x10016000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <6>;
    clocks = <&hfclk2>;
    num-cs = <2>;
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    mmc@1 {
      compatible = "mmc-spi-slot";
      reg = <1>;
      spi-max-frequency = <25000000>;
      voltage-ranges = <3300 3300>;
      disable-wp;
    };
  };

  mac: ethernet@67800000 {
    compatible = "fsl,fsl-mac";
    reg = <0x0 0x67800000 0x0 0x1000>;
    interrupt-parent = <&plic0>;
    interrupts = <10>,<11>,<12>;
    clocks = <&hfclk>;
    num-cs = <1>;
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
  };

  gpio: gpio@10011000 {
    compatible = "nuclei,gpio0";
    interrupt-parent = <&plic0>;
    interrupts = <1>;
    reg = <0x0 0x10011000 0x0 0x1000>;
    gpio-controller;
    #gpio-cells = <2>;
    interrupt-controller;
    #interrupt-cells = <2>;
    clocks = <&hfclk>;
    status = "disabled";
  };

  i2c0: ocores@10018000 {
    compatible = "opencores,i2c-ocores";
    #address-cells = <1>;
    #size-cells = <0>;
    interrupt-parent = <&plic0>;
    interrupts = <4>;
    reg = <0x0 0x10018000 0x0 0x1000>;
    clock-frequency = <25000000>;
  };

  wdt: watchdog@68000000 {
    compatible = "riscv,fsl-wdt";
    reg = <0x0 0x68000000 0x0 0x20>;
    interrupt-parent = <&plic0>;
    interrupts = <8>;
    clocks = <&hfclk>;
    status = "okay";
  };
};
